body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

.title {
    text-decoration: none;
    border: 0;
}

.title h1 {
    font-size: 1.5em;
}

.title span {
    font-weight: 400;
}

.bear::before {
    content: "ᕦʕ •ᴥ•ʔᕤ";
    font-weight: 400;
}

.bear:hover::before {
    content: "ᕙʕ ಠᴥಠʔᕗ";
    font-weight: 400;
}

nav a {
    margin-right: 10px;
}

textarea,
input:not([type="submit"]) {
    background-color: inherit;
    color: inherit;
    border: 1px dashed;
    padding: 5px;
    font-size: 16px;
}

.full-width textarea,
.full-width input:not([type="submit"], [type="checkbox"], [type="radio"]) {
    width: calc(100% - 15px);
}

.nav-image {
    height: 3.14rem;
    border-radius: 12.5%;
}

textarea:required,
input:required:not([type="submit"]) {
    border: 1px solid;
}

textarea.full-screen {
    position: fixed;
    background-color: white;
    top: -2px;
    bottom: -2px;
    left: 0;
    width: calc(100vw - 30px);
    max-width: 720px;
    border: 10px solid;
    border-width: 10px calc(50vw - 370px);
}

@media only screen and (max-width: 750px) {
    textarea.full-screen {
        border-width: 10px;
    }
}

button.floating {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

button#toggle-full-screen {
    float: right;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: #272822;
    color: #222;
    border-radius: 3px;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: #272822;
    color: #222;
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow:auto;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: left;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

#id_favicon {
    width: 20px;
    text-align: center;
}

#date-range,
#initial-values,
#import-contacts {
    display: none;
}

#date-range:target,
#initial-values:target,
#import-contacts:target {
    display: block;
}

/* dashboard post list and analytics */
ul.post-list {
    list-style-type: none;
    padding: unset;
}

ul.post-list li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dashed;
}

ul.post-list li span {
    flex: 0 0 130px;
}

ul.post-list li span.number {
    flex: 0 0 50px;
}

ul.post-list li a {
    flex: max-content;
}

ul.post-list li small {
    text-align: right;
    flex: 0 0 115px;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: #8b6fcb;
}

/* discovery feed */
ul.discover-posts {
    list-style-type: none;
    padding: unset;
}

ul.discover-posts li {
    display: flex;
    line-height: 1.2;
}

ul.discover-posts li span {
    flex: 0 0 40px;
}

ul.discover-posts li a:visited {
    color: #8b6fcb;
}

ul.discover-posts li div {
    padding-bottom: 8px;
}

ul.discover-posts li small {
    color: #777 !important;
}

ul.discover-posts li small a {
    color: #777 !important;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #01242e;
        color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
        color: #eee;
    }

    a {
        color: #8cc2dd;
    }

    code {
        background-color: #272822;
    }

    pre code {
        color: #ddd;
    }

    blockquote {
        color: #ccc;
    }

    .helptext {
        color: #aaa;
    }
}



ul.blog-posts {
    padding-bottom: 0.61803rem;
}

ul.blog-posts li {
    padding-top: 0.61803rem;
}

small a {
    padding-right: 0.61803rem;
}

hr {
    border: 1.61803px solid;
}

body:hover {
    border-image: ;
    border-width: 0;
}


small a {
    padding-right: 0.61803rem;
}

.bottom-footer {
    padding: 50px;
    text-align: center;
}

.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */